
.register-form{
  padding: 10px 15px;
    background-color: #FFF;
    border: 2px solid #FE6519;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
}
.price{
  color: #FE6519;
  font-weight: 800;
  font-size: 1.5rem;
}

button{
  background-color: #FE6519;
  color: #FFF;
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  margin: 0 15px;
  padding: 0 20px;
  border: none;

}
button:hover{
  background-color: #192f47;
}
@media screen and (max-width: 750px) {
  .register-form {
    margin-top: 25px;
  }
}
