<div class="moredetails">
<div class="card flex justify-content-center">
  <p-card>
    <i class="fa-solid fa-business-time"></i>
    <div class="text-details">Duration</div>
    <div>{{ route === 'group' ? group.Days : data.Days }}</div>
  </p-card>
</div>
<div class="card flex justify-content-center">
  <p-card>
    <i class="fa-solid fa-plane"></i>
    <div class="text-details">Tour Type</div>
    <div>Group</div>
  </p-card>
</div>
<div class="card flex justify-content-center">
  <p-card>
    <i class="fa-solid fa-language"></i>
    <div class="text-details">Languages</div>
    <div>English, German, Polish, Italian</div>
  </p-card>
</div>
</div>
