<footer class="footer">
  <div class="footer-container">
    <div class="footer-buttons"><h1>Get in Touch</h1><div>
        <a href="tel:209200003"><i class="fa-solid fa-phone"></i> <span>+20920029042</span></a></div>
        <a href="mailto:booking@hurghadaonlinetours.net"><i class="fa-solid fa-envelope"></i> <span>fgmail.com</span></a>
        <p><i class="fa-solid fa-location-dot"></i><span>El Mohamadi Heweidak Street, Hurghada, Red Sea Governorate 84517</span></p>
    </div>
    <div class="footer-links">
      <h1>Quick Links</h1>
      <ul>
        <li><a [routerLink]="['/details', 31]">Hurghada Taxi</a></li>
        <li><a routerLink="/group">Egypt Travel Packages</a></li>
        <li><a routerLink="/all">Hurghada Tours</a></li>
        <li><a routerLink="/snorkeling">Hurghada Snorkeling</a></li>
        <li><a routerLink="/cairo">Cairo Tours from Hurghada</a></li>
        <li><a routerLink="/Desert">Hurghada Safari</a></li>
        <li><a routerLink="/luxor">Luxor Tours from Hurghada</a></li>
        <li><a routerLink="/family">Tours for Families</a></li>
      </ul>
    </div>
  </div>
  <mat-divider style="background-color: black;"></mat-divider>
  <div class="footer-legal">
    <a href="#">Terms & Conditions</a><span>|</span>
    <a href="#">Privacy Policy</a><span>|</span><span>&copy; 2024 Digital Solutions</span>
  </div>
</footer>
